.h {color: black;}

h1 {font-weight: bold;}

h2 {font-weight: normal; font-size: 1.2em; color: white;}

h3 {font-weight: normal; font-size: 1.2em; color: white;}

footer {font-size: 1.2em; color: white;}

.footer {text-align: center; background-color: dimgray;}

.titulo {font-weight: bold; color: green; text-align: center;} 

.subtitulo {font-weight: bold; color: green;} 

.contenido {font-style: italic; font-family: segoe ui; text-align: justify; color: green;}

.fondo {background-color: black;}

.video {text-align: center;}

.footer1 {text-align: center;}

.titulo2 {text-align: center; font-weight: bold; color: rgb(0, 0, 68);}

.subtitulo2 {font-weight: bold; color: rgb(0, 0, 68);}

.contenido2 {font-family: Lucida Sans; text-align: left; color: rgb(0, 0, 68); font-style: italic;}

.contenido3 {font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 68); font-style: italic;}

.fondo2 {background-color: darkgreen;}

.footer2 {text-align: center;}